.DS_Store
node_modules
node_modules2
/dist

.npmrc

# local env files
.env.local
.env.*.local

# Log files
debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Editor directories and files
.idea
.vscode/**
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

!.vscode/launch.json

/config/development.json
/config/productionManual.json
/config/serviceAccountKey.json